html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
      font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 0;
  background-color: var(--kar-beyaz); /* Background color for the body */
}


.custom-style-h1 {
  font-family: "Open Sans", serif;
  font-weight: 100;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  font-size: xxx-large;
  color: white;
  text-align: left;
}

.custom-style-h2 {
  font-family: "Open Sans", serif;
  font-weight: 100;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  font-size: xx-large;
  color: white;
  text-align: left;
}

.custom-style-h3 {
  
}

.custom-style-h4 {
  
}

.custom-style-h5 {
  
}

.custom-style-p {
  
}


.custom-height {
  min-height: 300px; /* Satırı dikey olarak genişletir */
}


.bg-common::before {
  content: "";
  position: relative;
  background-size: cover; /* Görüntüyü kapsar */
  background-position: center; /* Görüntüyü ortalar */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: -1;
}

.bg-section1::before {
  background-image: url('/visual-elements/backgrounds/food-list-1.jpg');
}

.bg-section2::before {
  background-image: url('/visual-elements/backgrounds/food-service-1.jpg');
}

.bg-section3::before {
  background-image: url('/visual-elements/backgrounds/office-coffee-1.jpg');
}

.bg-section4::before {
  background-image: url('/visual-elements/backgrounds/social-media-1.jpg');
}

.text-white {
  color: white; /* Metin rengini beyaz yapar */
}
