html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
      font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 0;
  background-color: var(--kar-beyaz); /* Background color for the body */
  font-family: Arial, sans-serif; /* Default font for the page */
}

h1 {
  color: var(--kar-koyu); /* Dark color for the main heading */
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  color: var(--kar-gri); /* Secondary color for paragraphs */
  font-size: 1rem;
}